.project{
    display: flex;
    flex-direction: column !important;
    color: whitesmoke;
    background-color:#4b235e;
    border: 3px solid black;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 25px;
    width: 20%;
    font-size: larger;
    height:600px;
    transition: all 0.5s;
    gap: 20px;
}

.project:hover{
    cursor: pointer !important;
}

.projects{
    padding: 50px;
    gap: 100px;
    display: flex;
    flex-wrap:wrap !important;
    height: fit-content;
    width: 92%;   
    transition: all 0.5s;
}

.imageKolaj{
    position: relative;
    width: 80%;
    height: 99%;
    right: 0;
    background: #5b5a5c;
    border: 3px solid black;
    border-left: 0px solid black;
    border-top-right-radius:40px ;
    border-bottom-right-radius: 40px;
    display: flex;
    transition: all 0.5s;
}

.imageContainer{
    position: absolute !important;
    border: 3px solid black;
    border-radius: 40px;
}

.imageContainer:hover{
    cursor: pointer;
}

.image:nth-child(2){
    left: 50px;
    display:inline-block;
    z-index: 2;
    transform: rotate(5deg);
    background-size:contain;
    top: 50px;
};

.image:nth-child(1){
    bottom: 50px;
    left: 50px;
    z-index: 0;
    transform:rotate(5deg);
    background-size:contain;
};

.image:nth-child(5){
    right: 120px;
    width: 200px;
    z-index: 3;
    transform: rotate(-5deg);
    background-size:contain;
    top:60px;
};

.image:nth-child(4){
    width: 200px;
    z-index: 2;
    bottom: 50px;
    right: 250px;
    rotate: 5deg;
};

.image:nth-child(3){
    top: 230px;
    left: 50px;
    rotate: -10deg;
};

.image:nth-child(6){
    z-index: 0;
    top: 50px;
    width: 200px;
    right: 300px;
    rotate: -10deg;
};

.projectContainer{
    display: flex;
    width: 100%;
}

.image{
    border: 2px solid black;
    border-radius: 20px;
    scale: 1.2;
    position: absolute;
    width: 300px;
    height: fit-content;
}

.image:hover{
    cursor: pointer;
}

.mainProjectTitle{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 138, 249);
}   

.subProjectTitle{
    color: rgb(255, 138, 249)   ;
}

.list{
    list-style:none;
    padding-left: 20px;
}

.list li::before{
    content: "\2022";
    color: rgb(255, 138, 249);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.links li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.links li a:hover{
    color: rgb(255, 138, 249);
}

.links{
    font-size: 22px;
}

.fullProjectModal{
    display: none; /* Hidden by default */
    transition: all 0.5s;   
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: hidden;
}

.fullProject{
    transform:  translate(0, -120%);
    transition: all 1s;
    position: relative;
    background-color: #333;
    border-radius: 40px;
    color: black;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #743591;
    width: 90%; /* Could be more or less, depending on screen size */
    height: 600px;
}

.close {
    position: absolute;
    top: 5px;
    transition: all 0.5s;
    right: 15px;
    color: #ffffff;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-open{
    display: block;
}

.mainModalTitle{
    font-size: 40px;
    color: #743591;
}

.modal-content-open{
    transform:  translate(0, 0);
    display: flex;
}

.imageCollection{
    display: flex;
    position: relative;
    margin: 50px auto;
    scroll-behavior: smooth;
    overflow-x: scroll;
    height: 90%;
    gap: 20px;
    scroll-snap-type: x mandatory;
}

.imageCollection::-webkit-scrollbar{
    display: none;
}

.modelImage{
    scroll-snap-align: center;
}

.Arrow{
    position: absolute;
    top: 11.2%;
    width: 50px;
    height: 84%;
    font-size: 50px;
    border: 1px solid white;
    background-color: transparent;
    transition: all 0.2s;
}

.Arrow:hover{   
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.459);
    cursor: pointer;

}

.leftArrowButton{
    border-radius: 20px 0 0  20px;
}

.rightArrowButton{
    border-radius: 0 20px 20px 0;
}

.imageSwitch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 10px;
    border-radius: 10px;
    left: 39%;
    background: #000;
    width: 300px;
    height: 50px;
}

.Switch{
    width: 100px;
    border: none;
    font-weight: 800;
    font-size: larger;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s;
    background-color: transparent;
    height: 40px;
}

.Switch:hover{
    cursor: pointer;
    color: gray;
    border-color: #743591;
}

.active{
    color: #784291;
    border-color: #784291;
}

.active:hover{
    color: #5d3570;
}