@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@mixin upToDownRightArrow($width: 2em) {
    content: "↪";
    color: rgb(169, 74, 238);
    font-weight: bold;
    display: inline-block; 
    font-size: 40px;
    width: $width;
}

.info{
    font-size: 2em;
    display: flex;
    gap: 20px;
}

.info::before{
    @include upToDownRightArrow();
    margin-right:-1.2em ;
}

.about{
    padding: 0 0 0 12%;
    height: 682px;
    position: relative;
}

.purpleRod{
    position: absolute;
    color: rgb(169, 74, 238);
    height: 100%;
    top: 0;
    left: 120px;
}

.infoTitle{
    color: rgb(169, 74, 238);
    font-weight: bold;
    font-size: 50px;
}

.skill{
    display: inline-block;
}

.aboutMeParagraph{
    font-size: 30px;
    white-space: pre-wrap;
}

.aboutMeParagraph:nth-child(1):before{
    @include upToDownRightArrow(1.5em);
    margin-right:-.2em ;
}

.dino{
    border-radius: 10px;
}