.home{
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nameSpan{
    color: rgb(169, 74, 238);
}

.name{
    font-size: 40px;
    font-weight: bold;
}   

.job{
    position: relative;
    display: inline-block;
    width: 400px;
    text-align: right;
    color: #FAFAFA ;
    font-weight: bold;
}

.jobContainer{
    font-size: 40px;
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.jobSpan{
    display: inline;
    width: 600px;
    text-align: left;
    position: relative;
    transition: all 0.5s ease;
    color: rgb(169, 74, 238);
    display: inline-block;
}

.sceneOut{
    animation: sceneOut 1s ease;
}

@keyframes sceneOut {
    0% {
        transform: translateY(0);
    }
    30%{
        transform: translateY(60px);
        opacity: 0;
    }
    60%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}