.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2E0854 ; /* Change to your preferred background color */
    z-index: 999; /* Ensure it's above other content */
    box-shadow: 0 2px 4px rgba(91, 119, 146, 0.253);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.5s ease;
    justify-content: space-between;
}

.navbar-logo {
    /* Style for your logo or brand */
    font-size: 22px;
    /* Add more styles as needed */
}

.navbar-menu {
    /* Style for your menu items */
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.navbar-menu li {
    font-size: 35px;
    margin-left: 20px; /* Adjust spacing between menu items */
    transition: all 0.3s ease;
    padding: 3px 6px 3px 3px;
    border: 1px solid transparent;
    border-radius: 10px; 
}

.navbar-menu li a {
    text-decoration: none;
    color: #FAFAFA ; /* Set the color of your menu links */
    /* Add more styles as needed */
    transition: all 0.3s ease;
}

.navbar-menu li:hover {
    border-color: rgb(181, 135, 226);
}

.navbar-menu li:hover a {
    color: rgb(185, 148, 223);
}
