body {
    background: #1E1E1E;
    height: 10000px;
    color:  #FFFFFF;
}

html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

.cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: rgba(180, 82, 180, 0.548);
    border: 1px solid white;
    border-radius: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
}