@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body {
    background: #1E1E1E;
    height: 10000px;
    color:  #FFFFFF;
    font-family: 'Afacad', sans-serif;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(169, 74, 238);
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background: hsl(0, 1%, 31%);
}

#root {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    & > * {
        scroll-snap-align: start;
    }
}

* {
    margin: 0;
    padding: 0;
}

.cursor-follower {
    position: fixed;
    top: -50px;
    left: -50px;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.171);
    border: 1px solid white;
    border-radius: 50%;
    z-index: 9999;
    transform: translate(-65%, -65%);
    transition: width 0.2s, height 0.2s;
}

.cursor-text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    font-weight: 700;
    z-index: 9999;
    pointer-events: none;
    user-select: none;   
}